body {background: #151515;}
.bgBecome {background: #151515;}
.bg-202020 {background: #202020;}
h2 {color:white;font-size: 78px;}
h2 strong {color:#D5FF40;}
.p-relative {position:relative;}

@media screen and (max-width: 767px) {
  .mobile-hide {display: none;}
  .section--slider-mobile .row {
    display: block;
  }
}

.apply-now {width: 145px;height: 40px;border-radius:6px;color:#000;display: flex;align-content: center;align-items: center;justify-content: center;margin:auto;background: #D5FF40;background: linear-gradient(90deg, #D7FF47 39.57%, #9ac700 100.13%);}
.apply-now:hover {background:#E0FF73;animation-name: wobble-horizontal;animation-duration: 1s;animation-timing-function: ease-in-out;animation-iteration-count: 1;}

.hero {text-align: center;color:#fff;    border-radius: 0 0 262px 412px;}
.hero .nomad-logo {margin: -30px 0 40px;}
.hero h1 {font-size:78px;margin-top: 50px;}
.hero h1 span {text-indent: -2000px;position: absolute;}
.hero p {width:50%; margin:auto; margin-bottom:20px;}
.hero-image {float: right;}.our-areas {margin-top: 250px;position: relative;}
.our-areas .col-up {margin-top:-80px;display: flex;flex-direction: column;align-content: flex-end;align-items: flex-end;}
.our-areas .col-down {display: flex;flex-direction: column;align-content: flex-end;align-items: flex-end;}
.our-areas h2 {width: 205px;text-align:center;margin: auto;}
.our-area-box {background:white;border-radius:16px;padding:20px;width: 278px;text-align: center;margin: 0 0 100px 0;}
.our-area-box h3 {font-size:24px}
.our-area-box .icon-cont {border-radius:20px;background:#D5FF40;width: 80px;height: 80px;display:flex;justify-content: center;margin: -70px auto 24px;}
.our-area-box .icon-cont img {width:50px;}
.our-area-box p {font-size:18px;}
.our-areas .shape-areas {position: relative;top:0;left:0;margin: 50px -61px 0 0;z-index: -1;}
.bg-areas {background: #202020;width: 70%;height: 517px;position: absolute;top: 60px;right: -20px;z-index: -1;border-radius: 150px 0 0 0;}
.img-types {position: absolute;top: 208px;right: 104px;width: 640px;}

.our-services .text-services {font-size: 20px;width: 80%;}
.our-services h2 {text-align:left;width: 440px;font-size: 70px;font-weight: 600;margin-top: -64px;line-height: 78px;}
.our-services h4 {font-size: 28px;margin-bottom: 40px;}
.our-services h4 span {font-weight:100;font-size: 28px;display: inline-block;}
.our-services {margin-bottom:80px;background:transparent;}
.our-culture {padding: 80px 0 200px;}
.our-culture h2 {text-align:right;margin: 80px 0 48px 0;}
.our-culture p { color:#fff; font-size:18px; text-align:right}
.our-culture .culture-circle {position:absolute;left: -17px;top: -61px;animation: float 7s linear infinite;}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.roles { background:#222221;position:relative;padding-top:50px;}
.roles:before {position:absolute;content:" ";height:200px;width:100%;background:#D5FF40;z-index:-1;transform: rotate(-3deg);top: 8px;left: 8px;}
.roles:after {position:absolute;content:" ";height:200px;width:100%;background:#D5FF40;z-index:-1;transform: rotate(3deg);bottom: 8px;right: -8px;}

#BambooHR-ATS h2 {color:#fff;font-size: 78px;padding: 20px 0 40px !important;border-bottom: 1px solid #343434 !important;}
#BambooHR-ATS {background:#222221;color:#fff !important;position:relative;z-index:9;padding:20px;}
#BambooHR-ATS a {color:#fff;font-weight: 100;font-size: 30px;font-family: 'Poppins', sans-serif !important;}
#BambooHR {padding-bottom:40px;}
.BambooHR-ATS-Department-Header {padding-top:10px;}
.BambooHR-ATS-Department-List {border-top:1px solid #000 !important}
.roles .BambooHR-ATS-board ul {padding: 12px 0 !important;border:none !important;}
.BambooHR-ATS-Department-Item {border-top: 1px solid #343434 !important;padding-top:10px}

.roles h2 {display:none;}
.roles h3 {font-size:78px;color:#fff;}
.roles h3 strong {color:#D5FF40;}
.contact .home-form {display: block;}
.contact {z-index:0}
.contact h2 strong {display:block;}
.contact p {width: 385px;margin:auto;text-align: center;font-size: 20px;}
.contact h2 {text-align:center;line-height: 70px;font-size: 70px;}
.contact .p-contact {margin-top:32px;}
.contact .p-contact p {text-align: left !important; width:auto;}
.contact button {width:100%;border-radius:10px;height: 52px;font-weight: 500;}
.contact .p-contact-mobile {display:none;}
.contact .social-icons {margin: 0 10px 0 0;}
.shape4 {display:none;}
.carousel {display: none;}
.mobile-only {display:none}

@media (max-width:1024px) {
  .bg-hero-mobile {background-image: url(../img/bg-become-mobile.jpg);background-size:cover;padding: 12%;}
.mobile-hide {display:none}
.mobile-only {position:relative; display:block}
.mobile-only .row .col-sm-12 {padding:0 !important}
.carousel {display:block} 
.flickity-page-dots {display: none;}
.carousel-cell:before {display: block;}
.carousel-cell {background:white;border-radius:16px;padding:20px;width: 278px;text-align: center;margin: 66px 0 100px 0;height: 250px;width: 85%;margin-right: 10px;}
.carousel-cell h3 {font-size:24px}
.carousel-cell .icon-cont {border-radius:20px;background:#D5FF40;width: 65px;height: 65px;display:flex;justify-content: center;margin: -53px auto 24px;}
.carousel-cell .icon-cont img {width:30px;}
.shadow {box-shadow: -9px -7px 32px #000000 !important;width: 1px;height:400px;position:absolute;right: -36px;top:0;z-index: 999;}
.bg-areas {display:none;}
.contact .p-contact {display: none;}
.contact .p-contact-mobile {display: block;text-align: center;margin-top: 20px;} 
.contact .p-contact-mobile p {font-size:18px;}
.contact p { width:100%}
#BambooHR-ATS a {font-size:20px;}
.dflex-reverse {display: flex;flex-direction: column-reverse;}
.our-culture {padding:0 0 20%}
.our-culture h2, .our-culture p {text-align:center;padding:0 20px;}
.our-culture .dflex-reverse img {margin: auto;display: block;padding: 20px;}
.our-culture .culture-circle {position:absolute;left:0px;margin: auto;right: 0;top: -30px;animation: float 7s linear infinite;}
.p-relative {margin-top:80px;}
}

@media(max-width:1000px){
.roles:before {display:none}  
.contact {padding: 20px 40px;flex-direction: column;display: flex;}
.roles .BambooHR-ATS-Department-Item {padding: 16px 0 !important;}
}

@media(max-width:768px){
  .hero {padding: 0;}
  .bg-hero-mobile {margin-bottom:40px}
.roles:before,.roles:after {display:none;}
.our-services .text-services {width:100%;font-size: 18px;}
.accordion-tabs {padding:0;}
.accordion-tabs img {display:none}
.accordeon-trigger {padding:20px}
.bg-202020 {background: transparent;}
.our-services h2 {text-align: center;width: auto;font-size:30px; line-height:40px;}
#BambooHR {padding-bottom:20px;}
.contact h2, .roles h3 {font-size:30px;line-height:40px; text-align:center}
.hero h1 {font-size: 52px;margin-top: 0;}
.hero p {width: 100%;}
.our-services {margin-bottom:40px;}
.p-relative {margin-top:40px;}
.our-culture {padding:0 0 110px}
.our-culture h2 {text-align:left;font-size:30px;margin: 20px 0 20px 0;} 
.our-culture p {text-align:left;padding:0 20px;}
.our-areas {margin-top: 100px;}
.our-areas h2 {font-size:30px;}
.our-areas .shape-areas {/* display:none; */position: absolute;bottom: 64px;top: unset;left: -93px;width: 285px;}
.BambooHR-ATS-Jobs-Item {margin-bottom:20px !important;}
.contact p {font-size: 18px;margin:20px 0}
footer nav ul {flex-direction: column;justify-content: space-between;align-items: center;}
                
} 