/* Logo Slider */

.logo-slider {

	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.logo-slider .logo-slide-track {
	/* -webkit-animation: logo-scroll 60s linear infinite; */
	animation: logo-scroll 60s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(150px * 16);
	animation-duration: 50s;
	animation-iteration-count: infinite;
}

.logo-slider .slide {
	height: 110px;
	width: 150px;
	padding: 30px;
	display: flex;
	align-content: center;
	align-items: center;
	margin-right: 100px;
}

@-webkit-keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-150px * 8));
		transform: translateX(calc(-150px * 8));
	}
}

@keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-150px * 4));
		transform: translateX(calc(-150px * 4));
	}
}

@media (max-width:768px) {
	  .logo-slider .logo-slide-track {
    width: calc(150px * 2) !important;}

	.logo-slider .slide {
	height: 100px;
	width: 300px;
	padding:0 10px;
}
	
}