.carousel-showmanymoveone .carousel-inner {
    height: 360px;
  }


.carousel-showmanymoveone a {
    display: inline-block;
    background-size: cover!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    min-height: 360px;
    width: 100%;
}
.carousel-showmanymoveone a.offer-1 {
    background: #b5ffe4 url(https://bellymelly.com/images/usa/usa-1.jpg) no-repeat center bottom;
}
.carousel-showmanymoveone a.offer-3 {
    background: #b5ffe4 url(https://bellymelly.com/images/usa/usa-3.png) no-repeat center bottom;
}
.carousel-showmanymoveone a.offer-2 {
    background: #b5ffe4 url(https://bellymelly.com/images/usa/usa-2.jpg) no-repeat center bottom;
}

.carousel-showmanymoveone .carousel-control {
    display: none; background-image:linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}

@media all and (max-width: 768px){
  
.carousel-showmanymoveone .carousel-control {
    display: block;
}
}
@media all and (min-width: 768px) {
  body.usa-content .carousel-showmanymoveone .carousel-inner > .active.left,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  body.usa-content .carousel-showmanymoveone .carousel-inner > .active.right,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  body.usa-content .carousel-showmanymoveone .carousel-inner > .left,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .prev.right,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  body.usa-content .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  body.usa-content .carousel-showmanymoveone .carousel-inner > .item.active.right,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  body.usa-content .carousel-showmanymoveone .carousel-inner > .item.active.left,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  body.usa-content .carousel-showmanymoveone .carousel-inner > .item.left,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  body.usa-content .carousel-showmanymoveone .carousel-inner > .active.left,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  body.usa-content .carousel-showmanymoveone .carousel-inner > .active.right,
  body.usa-content .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .carousel-showmanymoveone .carousel-inner > .left,
  .carousel-showmanymoveone .carousel-inner > .prev.right,
  .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-showmanymoveone .carousel-inner > .item.active.right,
 .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-showmanymoveone .carousel-inner > .item.left,
  .carousel-showmanymoveone .carousel-inner > .item.prev.right,
 .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}