


section .section-label {
  margin-bottom: 30px;
}
section .cards-holder {
  font-size: 0;
  letter-spacing: 0;
  position: relative;
  height: 236px;
}
section .card-image {
  display: block;
}
section .description {
  color: black;
  font-size: 18px;
  padding: 25px 20px;
}
section .description .duration, section .description .price {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section .description .duration {
  position: relative;
  padding-bottom: 13px;
}
section .description .duration:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4px;
  display: block;
  background: #000;
  height: 2px;
  width: 16px;
}
section .description .info {
  margin-top: 13px;
}
section .description .btn, section .description button {
  margin-top: 22px;
  display: block;
  font-size: 13px;
  letter-spacing: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
section .card {
  background: #fff;
  border: 1px solid #ccc;
  left: -10px;
  position: absolute;
  transform-origin: 0 50%;
  transform: scale(0.8);
  transition: none;
  width: 100%;
  z-index: 1;
}
section .card.active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  left: 0;
  transform-origin: 50% 50%;
  transform: scale(1);
  z-index: 3;
}
section .card.active ~ .card {
  left: 10px;
  transform-origin: 100% 50%;
  z-index: 2;
}
section .card.active ~ .card + .card {
  z-index: 1;
}
section .card.active ~ .card + .card + .card {
  z-index: 0;
}

.controls {
  text-align: center;
}

.page {
  background-color: #aaa;
  border: 0.2rem solid #666;
  border-radius: 50%;
  display: inline-block;
  margin: 0.4rem;
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}
.page.active {
  background-color: #666;
}

.arrow-left,
.arrow-right {
  display: block;
  font-size: 4rem;
  font-weight: bold;
  color: #eee;
  display: inline-block;
  vertical-align: middle;
  padding: 0 4rem;
}
.arrow-left:before,
.arrow-right:before {
  pointer-events: none;
}

.arrow-left:before {
  content: "<";
}

.arrow-right:after {
  content: ">";
}