@charset "UTF-8";
* {margin:0;padding:0;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Poppins:wght@300;500;700;900&display=swap');
.fixed-top {z-index: 99999999999999;}
html{scroll-behavior:smooth;}
body {overflow: hidden;overflow-y: scroll;}

img {max-width: 100%;}
a {text-decoration: none;}
p {font-size: 20px;font-family: 'Montserrat', sans-serif;}
.d-flex-center {
  display: flex!important;
  align-content: center;
  flex-direction: column;
  justify-content: center;}
h1, h2, h3 {font-family: 'Poppins', sans-serif;}
h2 {font-size: 38px;margin: 0 0 16px;}
h2 span {color:#D5FF40;font-weight: 800;}
header {background:#151515;height: 80px;width: 100%;display: flex;align-items: center;}
header .container {display: flex;justify-content: space-between;/* align-items: center; */width: 100%;/* padding:0; */}
header .logo {width: 156px;}
header nav {display:flex;align-content: center;align-items: center;}
header nav ul {display:flex;width: 630px;justify-content: space-between;margin: 0;padding: 0;}
header nav ul li {list-style: none;}
header nav ul li a, header nav .nav-link,  header nav .nav-link:hover {color: #fff !important;transition: color .35s ease;position: relative;}
header nav li a.active {color:#fff !important}
header nav li a.active:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background: #D5FF40;
    }
header nav ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .35s ease;
  }
  header nav ul li a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 4px;
    height: 2px;
    width: 0;
    background: #D5FF40;
    transition: width .35s ease;
  }
  header nav ul li a:hover:before {
    width: 100%;
    background: #D5FF40;
    transition: width .35s ease;
  }
header .contactButton {
    width: 145px;
    height: 40px;
    border-radius:120px;
    color:#000;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #D5FF40;
    background: linear-gradient(90deg, #D7FF47 39.57%, #9ac700 100.13%);
    }

header .contact-btn {width:0px;}

/* contact button animation */
header .contactButton:hover {background:#E0FF73;animation-name: wobble-horizontal;animation-duration: 1s;animation-timing-function: ease-in-out;animation-iteration-count: 1;}
@keyframes wobble-horizontal {
            16.65% {
              transform: translateX(8px);
            }
            33.3% {
              transform: translateX(-6px);
            }
            49.95% {
              transform: translateX(4px);
            }
            66.6% {
              transform: translateX(-2px);
            }
            83.25% {
              transform: translateX(1px);
            }
            100% {
              transform: translateX(0);
            } 
          }

/* about us */
.about-us {margin:0 auto 100px}
.float-right {float: right;margin-right: 40px;}
.about-us .oyster {width: 668px;margin:174px auto 120px; text-align: center;position: relative;}
.about-us .oyster h2 {margin-bottom:20px;}
.about-us .oyster-underline {width: 149px;height:11px;position: absolute;top: 31px;right: 95px;background-image: url(../img/underline-oyster.png);z-index: -1;}
.about-us .box { transform: translateY(0px);transition: all 500ms ease;padding:20px;width: 390px;background: #fff;border-radius: 12px;position: relative;}
.about-us .box:hover { box-shadow: 0 5px 20px rgb(0 0 0 / 6%);transform: translateY(-10px) !important}
.about-us .professional-icon {width:82px;height:95px;position: absolute;right: 32px;top: -46px;}
.about-us .haslee-icon {width: 62px;height: 84px;position: absolute;right: 32px;top: -46px;}
.about-us .affordable-icon {width: 74px;height: 92px;position: absolute;right: 32px;top: -46px;}
.about-us h3 {font-weight:bold;}
.about-us .affordable h3 {color:#D5FF40;}
.about-us .affordable {
    background: linear-gradient(180deg, #292929 0%, #151515 100%);
    box-shadow: 7px 11px 19px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    width: 422px;
    padding:20px;
    color:#fff;
    position:relative;
    margin: -148px 0 140px 75px;
}
.about-us .affordable:after {
  position:absolute;
  content:" ";
  background: #FFFFFF;
  opacity: 0.3;
  border: 2px dashed #A2A2A2;
  border-radius: 12px;
  width: 424px;
  height: 195px;
  right: -39px;
  top: 25px;
  z-index: -2;
}

.why-h2 {margin: 0 100px 90px 0;text-align: right;}

/* our services */
.our-services {background: linear-gradient(90deg, #151515 0%, #0a0a0a 100%);color:#fff;padding: 80px 0 20px;position: relative;}
.our-services h2 {text-align: center;}
.our-services h3 {font-size:60px;margin-bottom: 40px;}
.our-services strong {/* color:#D5FF40; */background: linear-gradient(90deg, #D7FF47 39.57%, #658200 100.13%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.our-services h3 span {font-size:35px;display: block;/* margin-bottom: 40px; */}
.our-services .text-services {font-size:24px;width: 68%;}
.our-services .callCenterImg {float:right;margin-right: -32px;}
.green-belt {width: 92%;height: 176px;background:#eee;position: relative;bottom: -90px;display: flex;z-index: 2;right: -8%;background: linear-gradient(90deg, #D5FF40 0%, #AFDC0F 100%);border-radius: 20px 0px 0px 0px;align-items: center;justify-content: space-between;padding: 0 14%;}
.green-belt .item {text-align:center}
.green-belt h5 {font-size:64px;font-weight:bold;color: #151515;}
.green-belt h5 span{font-size:40px;display:block;font-weight:100;margin-top: -12px;}

/* our company*/
.our-company {margin: 0;position: relative;background: #fff;color: #000;padding: 150px 0;}
.our-company p {font-size:18px}
.our-company img {margin-right: 8%;position: relative;z-index: 1;float: right;}
.our-company-box {width:500px;margin: 0 auto 80px;text-align: center;position: relative;height: auto;}
.our-company-box h2 {position:relative}
.our-company .shape1 {
    background-image: url(../img/shape1.png);
    position: absolute;
    width: 835px;
    height: 743px;
    right: -220px;
    top: -57px;
    /* transform: rotate(22.27deg); */
    }

.shape2 {position: absolute;width: 630px;height: 496px;left: 440px;top: 1256.17px;background: linear-gradient(49.08deg, rgba(213, 255, 64, 0.21) 3.31%, rgba(200, 80, 192, 0.21) 57.52%, rgba(201, 245, 106, 0.21) 91.12%);filter: blur(75px);transform: rotate(-12.58deg);z-index: -1;}
.our-nomads {width: 480px;/* background: #faffea; */position: relative;z-index: 1;/* border-radius: 12px; *//* padding: 20px; */}
.black-box {background: #151515;border-radius: 20px;/* transform: rotate(2.7deg); */color:#fff;text-align:right;padding: 20px;margin: 68px 0 0 0;width: 527px;}
.nomads-underline {width: 225px;height: 44px;position: absolute;top: -1px;left: 185px;background-image: url(../img/nomads-underline.png);z-index: 0;}

.shape3 {position: absolute;width: 630px;height: 496px;left: 226px;top: 375px;background: linear-gradient(49.08deg, rgba(213, 255, 64, 0.21) 3.31%, rgba(200, 80, 192, 0.21) 57.52%, rgba(201, 245, 106, 0.21) 91.12%);filter: blur(75px);transform: rotate(-12.58deg);}
.shape4 {position: absolute;width: 219px;height: 187px;left: 0;top: -33px;background-image: url(../img/shape4.svg)}



/* contact */
.contact {width: 100%;/* height:750px; */background:#151515;color: #fff;padding: 80px 0 140px;position: relative;}
.social-container {margin-top:20px;}
.home-textinput {width:100%;height: 52px;border:1px solid #fff;border-radius:10px;background: transparent;padding: 15px;margin-bottom: 20px;color: #fff;}
.home-form {display:flex;flex-direction: column;align-items: flex-end;margin-top:40px;position: relative;z-index: 999999999;}
.social-icons {margin:0 10px;}
.copy span {color:#fff;}
.social-icons:hover {opacity: 0.6;animation-name: wobble-horizontal;animation-duration: 1s;animation-timing-function: ease-in-out;animation-iteration-count: 1;}
textarea {background:transparent;border:1px solid #fff;border-radius:10px;padding:15px;width:100%;margin-bottom:20px;color: #fff;}
button {
    width: 145px;
    height: 40px;
    background: #D5FF40;
    border-radius: 120px;
    color: #000;
    display: flex;
    align-content: center;
    align-items: center;
    border: none;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    }
footer {background:#000;width: 100%;position:relative;display: flex;justify-content: center;flex-direction: column;padding: 40px 20px;align-items: flex-start;}
footer p {font-size: 14px;color: #d5ff40;}
footer .logo {
    width: 146px;
}
footer nav {width: 250px;}
footer nav ul {padding: 0;display:flex;flex-direction: row;justify-content: space-between;margin: 34px 0;}
footer nav ul li {list-style:none;}
footer nav ul li a {color:#fff;font-size: 15px;}
footer .shape-footer {
    position: absolute;
    right: 0;
    bottom: 0;
}



.mobile-nav-button .mobile-nav-button__line {
  width: 100%;
  height: 3px;
  background: #9ac95a;
  position: relative;
  transition: 1s ease;
}
.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
  margin: 0.5rem 0;
}
.mobile-nav-button .mobile-nav-button__line--1 {
  transform: rotate(45deg);
  top: 13px;
  position: absolute;
}
.mobile-nav-button .mobile-nav-button__line--2 {
  display: none;
}
.mobile-nav-button .mobile-nav-button__line--3 {
  transform: rotate(135deg);
  top: 13px;
  position: absolute;
}

.mobile-menu {
  display: block;
  width: 100%;
  width: 100%;
  right: -100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  position: absolute;
  z-index: 9998;
  transition: 0.6s ease;
  top: 0;
  opacity: 0;
}
.mobile-menu ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-menu ul li {
  list-style: none;
}
.mobile-menu ul li a {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  text-align: left;
  text-decoration: none;
  color: #0e0e0e;
  font-size: 26px;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
.mobile-menu ul li a:after {
  content: "";
  background: #0e0e0e;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: -1;
  transition: 0.4s ease;
}
.mobile-menu ul li a:hover {
  color: #fff;
}
.mobile-menu ul li a:hover:after {
  right: 0;
}
.mobile-menu img {
  position: absolute;
  width: 150px;
  display: block;
  left: 50%;
  top: 3rem;
  transform: translatex(-50%);
  padding: 0;
  text-align: center;
}

.mobile-menu--open {right: 0;opacity: 1;}

/* privacy ****************************************/
.privacy-policy {margin-top:10%;}
.privacy-policy p {font-size:16px;}
.privacy-policy ul {margin-bottom:50px;}
.privacy-policy ul li {font-size:16px; font-weight:100;}

.mobile-svg {display:none}
@media (max-width:1024px) {
  .mobile-svg {display:block}
  .mobile-hide-svg {display:none;}
.our-services .text-services {width:100%}
.contact-btn {width: 150px;}
.privacy-policy {margin-top:25%;}
h2 {margin:0 0 8px 0}
.shape4{display:none}
header nav ul {width:500px;}
.hero {height:auto;}
.dot-6 {bottom: 222px;left: 28%;}
.hero-boxes {display: none !important;}
.hero .hero-bg {/* display:none; */position: static;width: 100%;height: auto;padding: 14px 0 40px;}
.hero .hero-text {width: 100% !important;text-align: center;padding: 0px 40px;top: 18%;margin-bottom: 12%;}
.hero .hero-text h1 {font-size:32px}
.hero .hero-text p {font-size:16px;line-height: 24px;}
.dot {display:none}
.about-us {margin-bottom: 20px;padding:0 20px;}
.about-us h2 {margin-bottom: 16px !important;}
.about-us .oyster {width:100%;margin: 94px 0 66px;}
.about-us .affordable:after {width: 90%;height: 165px;left: 46px;top: 17px;}
.about-us .box {width:100%}
.about-us .haslee-box {display:flex;width: 90%;margin: 0 0 65px 18px;}
.about-us .haslee-box p {margin:0}
.about-us .affordable {margin-left:-5px;width: 98%;margin: 40px 0 64px;}
.about-us .professional-icon {width: 62px;height:95px;position: absolute;right: 32px;top: -23px;}
.about-us .haslee-icon {width: 163px;height: 84px;position: static;left: -33px;top: 43px;position: relative;}
.about-us .affordable-icon {width: 55px;height: 92px;position: absolute;right: 32px;top: -24px;}
.our-services .callCenterImg {/* float:right; */margin-right:0;}  
.float-right {float:none;}  
.our-company img  {margin:20px auto 40px;left:0;right:0;display:block;float: none;}
.why-h2 {margin: 0 0 60px; text-align: center;}
.black-box {margin: 40px -0 0 22px !important;width:100%;border-radius: 12px 0 0 12px;display: block;}
.shape2 {left:0}
.shape3 {left: 0;display: none;}
.contact {width: 100%;/* height:750px; */background:#151515;color: #fff;padding: 80px 20px 140px;}
}

@media(max-width:1000px){
a.contactButton,
header nav {display: none;}
.mobile-nav-button {position: absolute;margin: 2rem;right: 0;top: 0;z-index: 9999;cursor: pointer;width: 29px;height: 30px;}
.our-company {padding:120px 20px}
.our-nomads {width:100%;text-align: center;}
.our-company-box {width:90%;margin:0 auto 40px}
}

@media(max-width:768px){
  .contact p {text-align:center;}
.home .required {margin-bottom:20px;display: block;} 
header nav ul {width: 100%;}
p {font-size:16px;}
h2 {font-size:24px}
.nomads-underline {left: -32px;top: -9px; display: none;}
header .contact,header nav {display: none;}
.hero .brands-slider {width: 94%;margin: auto;display: block;left: 0;right: 0;height: 100px;bottom: -40px;padding: 8px;}
.shape2 {top: 1336px;left: -180px;width: 100%;}
section {padding:20px;}
.why-h2 {margin: 0 0 30px 0;text-align: center;}
.our-services {padding: 30px 0 0;}
.our-services h3 {font-size: 28px;text-align: center;margin: 12px 20px 20px;}
.our-services h3 span {font-size:20px}
.our-services .text-services {font-size: 16px;text-align:center}
.float-right {margin:0;}
.our-company {padding: 60px 20px 50px;}
.our-company p {font-size: 16px;}
.green-belt {margin-top: 40px;padding:0 20px;height:100px;bottom: -44px;right: -8%;position: static;width: 100%;border-radius: 0 30px 0 0;}
.green-belt h5 {font-size:30px;font-weight:bold;color: #151515;}
.green-belt h5 span{font-size:18px;display:block;font-weight:100;margin-top: 0px;}
.contact {padding: 20px 40px;flex-direction: column-reverse;display: flex;}
.shape1 {display:none}
.tabs-tab-list {display: none !important;}
.tabs-panel {margin:0 !important;}
 a.contactButton {display:none;}  
footer .container {display:flex;flex-direction: column;justify-content: center;align-items: center;}
footer nav {width:100%}
footer .shape-footer {width:450px}
.contact h2 {text-align: center;margin-top: 20px;}
.home-form {margin:20px 0}
.reverse-mobile {display:flex;flex-direction: column-reverse;}
form button {width:100%;height: 52px;}
.home-form {margin-bottom:50px; display:block;}
textarea {margin-bottom:15px;}
.about-us .oyster-underline {width: 149px;height: 11px;position: absolute;top: 16px;right: -10px;background-image: url(../img/underline-oyster.png);z-index: -1;}
.d-flex {display:flex;flex-direction: column-reverse;}
}


.required {font-size:12px;color: #d5ff40;width: 100%;}