.input-group label {
    background-color: transparent;
    padding: 10px;
    margin-top: 0;
    border: 1px solid #BFD2FF;
    border-right: none
}

.input-group .form-select {
    border-left: none;
    background: #e4edff;
    border: 1px solid #BFD2FF;
    border-left: none;
    color: #212121;
}

 input { color: #212121 !important;}

.register textarea {    background: #e4edff;
    border: 1px solid #BFD2FF; 
    color: #212121;
}

.input-group {
    margin-bottom: 32px;
}

fieldset {
    border-radius: 4px;
    border: 1px solid #3F79FF;
    padding: 20px
}

.register .form-cont form fieldset p.small {
    font-size: 12px;
    color: #6C7278;
    padding: 0;
    font-weight: 300;
}

.register .form-cont form fieldset label {
    padding: 0 ;
    margin: 0;
    font-size: 12px;
}

.register .form-cont form fieldset .btn {
    background: none
}

.register .form-cont form fieldset svg {
    display: block;
    margin: 12px auto
}

.register input {
    border-left: none;
    padding-left: 4px;
    background: transparent;
}

.form-cont .back, .form-cont .register {
    margin: 0
}

.notice {
    text-align: center;
    background: #fff7b4;
    padding: 12px 0;
    font-size: 12px;
    margin: 12px auto;
    color: #665b00;
    border: 1px solid #ffec4d;
    border-radius: 4px;
    margin-top: -6px;
    width: 94%;
}

.notice i {margin-right:12px}
.notice i svg {opacity:0.5;width: 18px;}

select { background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M10 6L16 12L10 18L8.6 16.6L13.2 12L8.6 7.4L10 6Z" fill="%235F6368"/></svg>') !important;
  
  
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    appearance: none;
    outline-width: 0;
    background-repeat:no-repeat !important;
    background-position:right !important;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 10em;
    border: none;}