@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
img {max-width:100%;height:auto}
body { font-family: "Open Sans", sans-serif; overflow-x: hidden;}
#shadow-host-companion {display:none}

.bg {
  background: linear-gradient(180deg, #e3ebfd 17.54%, rgb(255 255 255 / 0%) 95.04%);
  padding-top: 40px;
  width: 100%;
}

h1 {font-size:60px;}
h1 span {color:#2969FF}
h2 {font-size:60px; text-align:center;}
h3 {font-size:23px}
header {background: linear-gradient(90deg, #FFF 0%, #ebf5ff 100%);border-radius:8px;padding:20px;margin-bottom: 75px;}
header .row {display: flex;justify-content: space-between;align-items: center;}
.btn { background: white;font-size:14px;color:#2969FF;}
.blue-button {border:1px solid transparent;border-radius:50px;background: #2969FF;color:#fff;width: 130px;padding: 12px 18px;margin: auto;display: flex;justify-content: space-between;text-decoration: none;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;align-items: center;}
.blue-button:hover, .form-cont .register:hover {background:#6291ff;border:1px solid #0951f9;color:#fff;}
.hero-text {width:690px; margin:auto;}
.loginCol {display: flex;justify-content: space-evenly;align-items: center;}

.form-cont {background:white;width:426px;margin: 98px auto 0;border-radius: 20px;/* padding:30px; */}
.form-cont input {display:block;border-radius: 4px;border: 1px solid #BFD2FF;background: #E5EDFF;width:100%;box-shadow: 0px 1px 2px 0px rgba(228, 229, 231, 0.24);padding: 10px;}
.form-cont span {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #e4ecff 100%);
  display: block;
  padding:20px 30px;
  color: #1E1E1E;
  font-size: 26px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;}
.form-cont form {padding: 14px 30px 30px;}
.form-cont label {color: #6C7278;
font-size: 16px;
font-weight: 400;margin-top:16px}
.form-cont .register {
  -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border:none;
  border: 1px solid #FFF;
  background:#2969FF;
  color:#fff;
  text-decoration: none;
  padding: 12px;
  display: block;
  margin-top: 20px;
  text-align: center;}


 .sugar-do {margin: 80px auto 120px;} 
.sugar-do .row {display:flex;justify-content: center;}
.box i.blue {background:#2969FF;border-radius: 16px;display:block;width: 50px;height: 50px;display:flex;justify-content: center;align-items: center;}
.sugar-do h3 {margin:104px 0 52px;}
.sugar-do img {margin-top:10%}
.sugar-do .phones {position:relative;z-index:9}
.p-relative {position:relative;}
.sugar-do .shape-blue {position:absolute;right: 100px;top: -84px;width: 500px;height: auto;}
.box {margin-bottom:30px}
.box p {font-size:15px;margin-bottom: 4px;}

.about h4 {font-size:55px; width:75%; margin:0 auto 20px}
.about .d-flex p {width:75%; margin:0 auto;}
.about .d-flex { display: flex !important;flex-direction: column;justify-content: center;}
.mobile-only {display: none;}  

.slider-section {position:relative}
.slider h4, .blog h4 {font-size:60px; text-align: center;}

footer {margin-top: 368px;border-top: 1px solid #2196F3;padding-top: 70px;z-index: 2;background: #e4edfb;position: relative;width: 100%;}
footer:before {content: "";position: absolute;z-index: -2;top: -160px;width: 100%;height: 159px;background: url('../img/bg-footer.png') top center no-repeat;}
footer a {color:#555555;font-size: 14px;}
footer h5 {font-size:16px;color:#212121}
footer .row {justify-content: space-around;}

.city-slider-slide {position: relative;width: 100%;height: 250px !important;margin: 0 2px;}
.city-slider-slide a {bottom: 12px;right: 12px;background: white;position: absolute;padding: 12px 20px;border-radius: 40px;text-decoration: none;}
.city-slider-slide a span {margin-right:10px;color:#000}
.city-slider-slide img {border-radius: 40px;}
.slick-slide {
  display: none;
  height: auto !important;
  min-height: 1px;
}

h4 {font-size:60px}


.socials {display: flex;}


  @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1110px;
    }
  }
  

  @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1110px;
    }
  }
  
  
  @media (max-width:990px) {
    
    .mobile-reverse {display:flex;flex-direction: column-reverse;}
    .about h4 {font-size:32px; width:100%; margin:20px auto}
    .about .d-flex p {width:100%;margin: 0 auto 30px;}
    .sugar-do img {margin-top:15%}
    .mobile-only {display: block;}
    .shape-blue-mobile {position:absolute;top: -403px;z-index: -9;width: 830px !important;}
    .carousel-indicators [data-bs-target] {
    height: 10px;
    background: #3370FF;
    border-radius: 44px;
    }
    .carousel-control-next, .carousel-control-prev {display:none}
    .box {border-radius: 16px;border: 1px solid #ecedff;background: rgb(244 247 255);padding: 12px;height: 244px;display: flex;align-items: center;}
    .carousel-indicators {bottom: -32px;}
    .desk-only {display:none;}
    .sugar-do .shape-blue {display:none}
    .sugar-do h3 {margin: 20px 0 40px;}
    .bg {padding-top:12px}
    h1, h2 {font-size:30px;}
    h4 {font-size:30px; margin-bottom:30px}
    h3 {font-size:18px; text-align:center}
    .hero-text {width:100%;margin-bottom:10%}
    header h1 {font-size: 34px;}
    .btn {width:44%;border: 1px solid #f0f7ff;font-size: 18px;}
    .form-cont {width:100%; margin:20% auto}
  }
  
  .only-mobile-slider {display: none;}
  
  @media (max-width: 768px) {
    .slider-citys .container {margin:0;padding:0;}
    .section {padding: 120px 0 !important;}
    .sugar-do { margin: 80px auto;}
    .box p {font-size:14px;margin-bottom: 4px;}
    .socials {margin-top:20px}
    footer {padding: 32px 0;margin-top:280px}
    footer .col-12 {/* text-align:center; */margin-bottom:40px;}
    .mobile-reverse-margin {margin-top:-80px}
    .slider h4, .blog h4 {font-size:30px;}
    .blog h4 {text-align:center}
    .only-mobile-slider {display: block !important;}
    header {text-align: center;}
    header img {margin-bottom: 18px;width: 120px;}
  }

textarea:focus, input:focus{
    outline: none;
  border:1px solid #2969ff;}