/* screen - index */

.index {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 90px;
  justify-content: center;
  /* max-width: 1440px; */
  padding: 20px 0px 0px;
  position: relative;
  margin: auto;
}

.index .section-header {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  height: 72px;
  justify-content: space-between;
  padding: 4px 22px;
  position: relative;
  width: 1240px;
}

.index .logo {
  height: 64px;
  object-fit: cover;
  position: relative;
  width: 157.54px;
}

.index .navbar {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 50px;
  justify-content: center;
  position: relative;
}

.index .navbar-link-place {
  color: var(--log-cabin);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0.18px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .navbar-link {
  letter-spacing: 0.18px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .frame-2 {
  align-items: center;
  background-color: var(--monza);
  border-radius: 24px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 12px 50px;
  position: relative;
}

.index .contact-us {
  color: var(--white);
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0.16px;
  line-height: 24px;
  white-space: nowrap;
}

.index .hero {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 71px;
  justify-content: center;
  padding: 0px 94px;
  position: relative;
  width: 1440px;
  margin: auto;
}

.index .frame-28 {
  height: 374px;
  position: relative;
  width: 890px;
}

.index .flex-col {
  flex-direction: column;
  left: 138px;
  min-height: 365px;
  position: relative;
  top: -1px;
  width: 613px;
}

.index .for-sex-workers-in-northern-ireland {
  letter-spacing: -2.00px;
  line-height: 65px;
  min-height: 130px;
  min-width: 613px;
  text-align: center;
}

.index .receive-warnings-abo {
  color: var(--log-cabin);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: -0.20px;
  line-height: 32px;
  margin-right: 6.0px;
  margin-top: 38px;
  min-height: 64px;
  min-width: 588px;
  opacity: 0.7;
  text-align: center;
}

.index .download-our-app {
  color: #000000;
  font-family: var(--font-family-roboto);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.62px;
  line-height: normal;
  margin-left: 27.0px;
  margin-top: 33px;
  min-height: 15px;
  text-align: center;
  width: 383px;
}

.index .buttons {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  margin-left: 27.0px;
  margin-top: 28px;
  min-width: 383px;
}

.index .x-store {
  height: 57px;
  width: 184px;
}

.index .frame-27 {
  height: 615.91px;
  position: relative;
  width: 985.25px;
}

.index .overlap-group1 {
  height: 560px;
  left: 17px;
  position: absolute;
  top: 39px;
  width: 953px;
}

.index .group-2138 {
  height: 71px;
  left: 728px;
  position: absolute;
  top: 235px;
  width: 99px;
}

.index .group-2140 {
  height: 71px;
  left: 246px;
  position: absolute;
  top: 0;
  width: 98px;
}

.index .group-2141 {
  height: 71px;
  left: 663px;
  position: absolute;
  top: 489px;
  width: 98px;
}

.index .rectangle-844 {
  height: 502px;
  left: 107px;
  position: absolute;
  top: 20px;
  width: 739px;
}

.index .frame-69 {
  align-items: flex-start;
  background-color: var(--log-cabin);
  border-radius: 16px;
  box-shadow: 0px 8px 24px #00000026;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  min-height: 95px;
  padding: 15px 14px;
  position: absolute;
  top: 44px;
  width: 175px;
}

.index .flex-row {
  gap: 13px;
  margin-left: 6px;
  min-width: 118px;
}

.index .star {
  height: 24px;
  width: 24px;
}

.index .address {
  font-family: var(--font-family-quicksand);
  font-size: 14px;
  letter-spacing: 0.14px;
  min-height: 18px;
  min-width: 81px;
  opacity: 0.5;
}

.index .address-1 {
  align-self: flex-end;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xl);
  letter-spacing: 0.20px;
  min-height: 27px;
  min-width: 141px;
}

.index .overlap-group {
  height: 210px;
  left: 743px;
  position: absolute;
  top: 326px;
  width: 210px;
}

.index .group-2163 {
  background-color: var(--log-cabin);
  border-radius: 16px;
  box-shadow: 0px 8px 24px #00000026;
  height: 174px;
  left: 44px;
  position: absolute;
  top: 36px;
  width: 166px;
}

.index .ellipse-50 {
  height: 104px;
  left: 0;
  position: absolute;
  top: 0;
  width: 104px;
}

.index .this-is-the-best-a {
  color: var(--bon-jour);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 63px;
  letter-spacing: 0.15px;
  line-height: normal;
  position: absolute;
  top: 98px;
  width: 134px;
}

.index .frame-70 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  left: 115px;
  position: absolute;
  top: 55px;
}

.index .name {
  color: var(--bon-jour);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0.18px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .ellipse-88 {
  background-color: var(--monza-2);
  border-radius: 15.5px;
  box-shadow: 0px 3px 20px #0000000d;
  height: 31px;
  left: 73px;
  position: absolute;
  top: 243px;
  width: 31px;
}

.index .ellipse-89 {
  background-color: var(--monza-2);
  border-radius: 15.5px;
  box-shadow: 0px 3px 20px #0000000d;
  height: 31px;
  left: 213px;
  position: absolute;
  top: 119px;
  width: 31px;
}

.index .ellipse-90 {
  background-color: var(--tulip);
  border-radius: 15.5px;
  box-shadow: 0px 3px 20px #0000000d;
  height: 31px;
  left: 1236px;
  position: absolute;
  top: 200px;
  width: 31px;
}

.index .ellipse-87 {
  background-color: var(--tulip);
  border-radius: 15.5px;
  box-shadow: 0px 3px 20px #0000000d;
  height: 31px;
  left: 1233px;
  position: absolute;
  top: 666px;
  width: 31px;
}

.index .about {
  height: 568px;
  width: 100%;
}

.index .overlap-group2 {
  height: 426px;
  left: 67px;
  position: relative;
  top: 65px;
  width: 1273px;
  margin: auto;
}

.index .group-2144 {
  height: 72px;
  left: 532px;
  position: absolute;
  top: 354px;
  width: 99px;
}

.index .group-2144-1 {
  height: 71px;
  left: 0;
  width: 98px;
}

.index .frame-1171275939 {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 65px 65px;
  justify-content: center;
  left: 33px;
  position: absolute;
  top: 8px;
}

.index .rectangle-832 {
  height: 402px;
  position: relative;
  width: 565px;
}

.index .frame-1171275647 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 610px;
}

.index .about-us {
  color: var(--log-cabin);
  font-family: var(--font-family-quicksand);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 24px;
  margin-top: -1.00px;
}

.index .about-ugly-mugs {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-nunito);
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.17px;
  line-height: normal;
  position: relative;
}

.index .span0-1 {
  letter-spacing: 0.09px;
}

.index .span1 {
  color: var(--monza);
  letter-spacing: 0.09px;
}

.index .ugly-mugs-ireland-is {
  align-self: stretch;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 263px;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
}

.index .span0 {
  color: var(--log-cabin);
  font-weight: 700;
}

.index .frame-1171275649 {
  align-items: center;
  background-color: var(--desert-storm);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e7e7e7;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  padding: 65px 0px;
  position: relative;
  width: 100%;
}

.index .group-105 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  height: 208px;
  position: relative;
  width: 671px;
}

.index .join-today {
  color: transparent;
  font-family: var(--font-family-nunito);
  font-size: 55px;
  font-weight: 700;
  height: 34px;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
  width: 597.76px;
}

.index .span1-1 {
  color: var(--monza);
}

.index .ugly-mugs-ireland-is-1 {
  height: 136px;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
  width: 667px;
}

.index .span1-2 {
  text-decoration: underline;
}

.index .frame-4000 {
  align-items: center;
  background-color: var(--red);
  border-radius: 100px;
  display: flex;
  gap: 14px;
  height: 56px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  width: 398px;
}

.index .more-info {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0.40px;
  line-height: 36.0px;
  margin-top: -0.44px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.index .ireland {
  height: 440.93px;
  position: relative;
  width: 1180.39px;
}

.index .overlap-group3 {
  height: 441px;
  left: 589px;
  position: absolute;
  top: 0;
  width: 591px;
}

.index .group-2179 {
  height: 71px;
  left: 91px;
  position: absolute;
  top: 370px;
  width: 98px;
}

.index .group-2144-2 {
  height: 72px;
  left: 492px;
  width: 99px;
}

.index .image-5 {
  height: 367px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 565px;
}

.index .frame-1171275648 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 505px;
}

.index .northern-ireland {
  align-self: stretch;
  color: var(--monza);
  font-family: var(--font-family-nunito);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.80px;
  line-height: 72.0px;
  margin-top: -1.00px;
  position: relative;
}

.index .whilst-we-welcome-me {
  align-self: stretch;
  letter-spacing: 0.40px;
  line-height: 36.0px;
  position: relative;
}

.index .span-1 {
  letter-spacing: 0.08px;
}

.index .span1-3 {
  letter-spacing: 0.08px;
  text-decoration: underline;
}

.index .fooot {
  background-color: var(--desert-storm);
  border-color: #e6e6e6;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 484px;
  position: relative;
  width: 100%;
  margin: auto;
}

.index .frame-1171275654 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 148px;
  height: 349.01px;
  margin-left: 101px;
  margin-top: 62px;
  position: relative;
  width: 1239px;
  margin: auto;
}

.index .frame-1171275651 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.index .frame-1171275650 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 177.54px;
}

.index .image-1 {
  align-self: stretch;
  height: 64px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.index .home-about-us-news {
  color: var(--cod-gray);
  font-family: var(--font-family-roboto);
  font-size: 18.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.index .span0-2 {
  color: var(--log-cabin);
}

.index .support-contact-us-login {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.index .terms-policies-ter {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.index .span1-4 {
  color: var(--cod-gray);
  font-size: 18.7px;
  font-weight: 300;
}

.index .span2 {
  color: var(--log-cabin);
  font-weight: 300;
}

.index .contact-infouglymugscom {
  color: var(--cod-gray);
  font-family: var(--font-family-roboto);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.index .span1-5 {
  color: var(--log-cabin);
  font-size: 18.7px;
}

.index .frame-1171275653 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 500px;
}

.index .frame-1171275652 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.index .group-2143 {
  background-color: var(--shiraz);
  border-radius: 20px;
  display: flex;
  height: 40px;
  position: relative;
  width: 40px;
}

.index .facebook {
  height: 24px;
  margin-left: 7px;
  margin-top: 8px;
  width: 24px;
}

.index .group-214 {
  background-color: var(--shiraz);
  border-radius: 20px;
  display: flex;
  height: 40.01px;
  position: relative;
  width: 40px;
}

.index .instagram {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.index .linkedin {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.index .mail {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.index .twitter {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.index .line-4 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.index .copyright-2024-ugl {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.index .about-1 {
  align-self: stretch;
  position: relative;
}

.index .address-2 {
  color: var(--bon-jour);
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.index .contact {
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.index .flex {
  align-items: center;
  display: flex;
}

.index .group-2144-3 {
  position: absolute;
  top: 0;
}
/* screen - ugly-mobile */

.ugly-mobile {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  width: 100%;
  /* padding-bottom: 32px; */
}

.ugly-mobile .frame-1171275655 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 15px;
  width: 100%;
}

.ugly-mobile .image-1-1 {
  height: 56px;
  width: 137.85px;
}

.ugly-mobile .icon {
  height: 53px;
  position: relative;
  width: 53px;
}

.ugly-mobile .flex-row-1 {
  align-items: flex-start;
  gap: 34px;
  height: 180px;
  margin-top: 28px;
  min-width: 447px;
}

.ugly-mobile .ellipse-91 {
  align-self: center;
  background-color: var(--tulip);
  border-radius: 15.5px;
  box-shadow: 0px 3px 20px #0000000d;
  height: 31px;
  margin-bottom: 55.0px;
  width: 31px;
}

.ugly-mobile .frame-1171275656 {
  align-items: center;
  align-self: flex-end;
  flex-direction: column;
  gap: 16px;
  width: 317px;
}

.ugly-mobile .for-sex-workers-in-northern-ireland-1 {
  color: var(--log-cabin);
  font-family: var(--font-family-nunito);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -2.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 269px;
}

.ugly-mobile .receive-warnings-abo-1 {
  align-self: stretch;
  letter-spacing: -0.20px;
  line-height: normal;
  opacity: 0.7;
  position: relative;
  text-align: center;
}

.ugly-mobile .ellipse-89-1 {
  background-color: var(--monza-2);
  border-radius: 15.5px;
  box-shadow: 0px 3px 20px #0000000d;
  height: 31px;
  width: 31px;
}

.ugly-mobile .buttons-1 {
  display: flex;
  margin-left: 1.0px;
  margin-top: 36px;
  width: 383px;
}

.ugly-mobile .frame-1171275657 {
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 12px;
  height: 80px;
  justify-content: center;
  width: 383px;
}

.ugly-mobile .download-our-app-1 {
  color: #1c1c1c;
  font-family: var(--font-family-roboto);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.62px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 383px;
}

.ugly-mobile .x-store-1 {
  height: 45px;
  position: relative;
  width: 146px;
}

.ugly-mobile .overlap-group5 {
  height: 323px;
  margin-top: 36px;
  position: relative;
  max-width: 400px;
  padding: 15px;
}

.ugly-mobile .overlap-group1-1 {
  height: 299px;
  left: 0;
  /* position: absolute; */
  top: -9px;
  width: 100%;
  /* padding: 0 15px; */
}

.ugly-mobile .group-2140-1 {
  height: 37px;
  left: 72px;
  position: absolute;
  top: 1px;
  width: 51px;
}

.ugly-mobile .group-2141-1 {
  height: 37px;
  left: 289px;
  position: absolute;
  top: 263px;
  width: 51px;
}

.ugly-mobile .rectangle-844-1 {
  height: 260px;
  left: 0;
  position: relative;
  top: 4px;
  width: 100%;
}

.ugly-mobile .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--cod-gray);
  border-radius: 16px;
  box-shadow: 0px 8px 24px #00000026;
  display: flex;
  flex-direction: column;
  gap: 3px;
  left: 208px;
  min-height: 69px;
  padding: 9px 16px;
  position: absolute;
  top: 0;
  width: 148px;
}

.ugly-mobile .flex-row-2 {
  align-items: center;
  align-self: center;
  gap: 6px;
  min-width: 111px;
}

.ugly-mobile .star-1 {
  height: 24px;
  width: 24px;
}

.ugly-mobile .address-2 {
  font-family: var(--font-family-quicksand);
  font-size: 14px;
  letter-spacing: 0.14px;
  min-height: 18px;
  min-width: 81px;
  opacity: 0.5;
}

.ugly-mobile .address-3 {
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-s);
  letter-spacing: 0.16px;
  min-height: 22px;
  min-width: 113px;
}

.ugly-mobile .overlap-group2-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-845@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 158px;
  justify-content: flex-end;
  left: 17px;
  min-width: 200px;
  padding: 42px 30px;
  position: absolute;
  top: 197px;
}

.ugly-mobile .this-is-the-best-a-1 {
  color: var(--bon-jour);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: normal;
  min-height: 56px;
  width: 134px;
}

.ugly-mobile .ellipse-50-1 {
  height: 81px;
  left: 1px;
  position: absolute;
  top: 181px;
  width: 81px;
}

.ugly-mobile .frame-70-1 {
  height: 18px;
  left: 85px;
  position: absolute;
  top: 225px;
  width: 52px;
}

.ugly-mobile .frame-1171275647-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 110px;
  position: relative;
  width: 100%;
  padding: 20px;
}

.ugly-mobile .about-us-1 {
  align-self: stretch;
  color: var(--log-cabin);
  font-family: var(--font-family-quicksand);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.ugly-mobile .about-ugly-mugs-1 {
  align-self: stretch;
  color: transparent;
  font-family: var(--font-family-nunito);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.11px;
  line-height: normal;
  position: relative;
}

.ugly-mobile .span0-4 {
  color: var(--log-cabin);
  letter-spacing: 0.04px;
}

.ugly-mobile .span1-6 {
  color: var(--bon-jour);
  letter-spacing: 0.04px;
}

.ugly-mobile .span2-1 {
  color: #af001f;
  letter-spacing: 0.04px;
}

.ugly-mobile .ugly-mugs-ireland-is-2 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
}

.ugly-mobile .span0-3 {
  color: var(--log-cabin);
  font-weight: 700;
}

.ugly-mobile .span-2 {
  color: var(--log-cabin);
}

.ugly-mobile .overlap-group3-1 {
  height: 265px;
  margin-right: 7.0px;
  margin-top: 32px;
  position: relative;
  width: 393px;
}

.ugly-mobile .group-2145 {
  height: 45px;
  left: 331px;
  position: absolute;
  top: 220px;
  width: 62px;
}

.ugly-mobile .group-2146 {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.ugly-mobile .rectangle-833 {
  height: 250px;
  left: 21px;
  position: absolute;
  top: 7px;
  width: 351px;
}

.ugly-mobile .overlap-group4 {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  height: auto;
  justify-content: flex-end;
  margin-right: 6.0px;
  margin-top: 102px;
  /* min-width: 450px; */
  padding: 40px 15px;
  width: 100%;
}

.ugly-mobile .frame-1171275650-1 {
  gap: 48px;
  width: 100%;
}

.ugly-mobile .group-105-1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 38px;
  /* height: 242px; */
  margin-right: -4.00px;
  position: relative;
  width: 100%;
}

.ugly-mobile .join-today-1 {
  color: transparent;
  font-family: var(--font-family-nunito);
  font-size: 36px;
  font-weight: 700;
  /* height: 34px; */
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
  width: 100%;
}

.ugly-mobile .span1-7 {
  color: #af001f;
}

.ugly-mobile .ugly-mugs-ireland-is-3 {
  height: auto;
  letter-spacing: 0;
  line-height: 34px;
  text-align: center;
  width: 100%;
}

.ugly-mobile .span1-8 {
  text-decoration: underline;
}

.ugly-mobile .frame-4000-1 {
  align-items: center;
  background-color: var(--red);
  border-radius: 100px;
  display: flex;
  gap: 14px;
  height: 56px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.ugly-mobile .more-info-1 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0.40px;
  line-height: 36.0px;
  margin-top: -0.44px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.ugly-mobile .frame-1171275660 {
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  margin-top: 110px;
  width: 100%;
  padding: 0 15px;
}

.ugly-mobile .frame-1171275648-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 100%;
}

.ugly-mobile .title {
  align-self: stretch;
  color: #b0001f;
  font-family: var(--font-family-nunito);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.80px;
  line-height: 72.0px;
  margin-top: -1.00px;
  position: relative;
}

.ugly-mobile .whilst-we-welcome-me-1 {
  align-self: stretch;
  letter-spacing: 0.32px;
  line-height: 28.8px;
  position: relative;
}

.ugly-mobile .span-4 {
  letter-spacing: 0.05px;
}

.ugly-mobile .span1-9 {
  letter-spacing: 0.05px;
  text-decoration: underline;
}

.ugly-mobile .group-1171275273 {
  height: 320px;
  margin-right: -5.39px;
  position: relative;
}

.ugly-mobile .overlap-group-2 {
  /* height: 320px; */
  /* position: relative; */
  /* width: 100%; */
}

.ugly-mobile .group-2179-1 {
  height: 50px;
  left: 64px;
  position: absolute;
  top: 204px;
  width: 69px;
}

.ugly-mobile .group-2144-3 {
  height: 72px;
  left: 296px;
  position: absolute;
  top: -37px;
  width: 99px;
}

.ugly-mobile .image-5-1 {
  /* height: 257px; */
  /* left: 0; */
  /* position: absolute; */
  /* top: 36px; */
  width: 100%;
  position: relative;
}

.ugly-mobile .overlap-group6 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  border-color: #e7e7e7;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 705px;
  margin-top: 110px;
  width: 100%;
  padding: 36px 15px;
}

.ugly-mobile .frame-1171275655-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 68px;
  position: relative;
  width: 100%;
}

.ugly-mobile .frame-1171275651-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 405px;
  justify-content: space-between;
  /* padding: 0px 16px; */
  position: relative;
  width: 100%;
}

.ugly-mobile .frame-1171275650-2 {
  border-radius: 8px;
  gap: 10px;
  height: 84px;
  justify-content: space-around;
  padding: 10px;
  width: 177.54px;
}

.ugly-mobile .image-1-2 {
  align-self: stretch;
  height: 64px;
  width: 100%;
}

.ugly-mobile .frame-1171275661 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.ugly-mobile .frame-1171275662 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: space-between;
  width: 100%;
}

.ugly-mobile .terms-policies-ter-1 {
  color: transparent;
  font-family: var(--font-family-quicksand);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  width: 141px;
}

.ugly-mobile .span1-10 {
  color: var(--cod-gray);
  font-size: 18.7px;
  font-weight: 300;
}

.ugly-mobile .span2-2 {
  color: var(--log-cabin);
  font-weight: 300;
}

.ugly-mobile .home-about-us-news-1 {
  color: var(--cod-gray);
  font-family: var(--font-family-quicksand);
  font-size: 18.7px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.ugly-mobile .frame-1171275663 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: space-between;
  width: 100%;
}

.ugly-mobile .support-contact-us-login-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.ugly-mobile .contact-infouglymugscom-1 {
  color: var(--cod-gray);
  font-family: var(--font-family-quicksand);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 177px;
}

.ugly-mobile .span1-11 {
  color: var(--log-cabin);
  font-size: 18.7px;
}

.ugly-mobile .frame-1171275653-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  margin-left: -50.00px;
  margin-right: -50.00px;
  position: relative;
  width: 100%;
}

.ugly-mobile .frame-1171275652-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

.ugly-mobile .group-2143-1 {
  background-color: var(--red);
  border-radius: 20px;
  display: flex;
  height: 40px;
  position: relative;
  width: 40px;
}

.ugly-mobile .facebook-1 {
  height: 24px;
  margin-left: 7px;
  margin-top: 8px;
  width: 24px;
}

.ugly-mobile .group-214-1 {
  background-color: var(--red);
  border-radius: 20px;
  display: flex;
  height: 40.01px;
  position: relative;
  width: 40px;
}

.ugly-mobile .instagram-1 {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.ugly-mobile .linkedin-1 {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.ugly-mobile .mail-1 {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.ugly-mobile .twitter-1 {
  height: 24px;
  margin-left: 8px;
  margin-top: 7.0px;
  width: 24px;
}

.ugly-mobile .line-4-1 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.ugly-mobile .copyright-2024-ugl-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.ugly-mobile .graphic_-elements {
  align-self: flex-start;
  height: 78px;
  margin-left: -4736px;
  margin-top: 2881px;
  width: 82px;
}

.ugly-mobile .address {
  color: var(--bon-jour);
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.ugly-mobile .flex-row {
  display: flex;
  margin-right: 1.0px;
}

.ugly-mobile .frame {
  display: flex;
  position: relative;
}

.ugly-mobile .frame-1171275650 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ugly-mobile .image-1 {
  object-fit: cover;
  position: relative;
}
@media screen and (max-width: 1439px) {
  .screen.index { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.ugly-mobile { 
    display: none;
   }
}