@charset "UTF-8";
* {margin:0;padding:0;}
.fixed-top {
  z-index: 9999;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.15);
  /* border-bottom: 1px solid #eaeaea; */
  }
.r-position {/* position:relative; */}
html{scroll-behavior:smooth;}
body {overflow: hidden;overflow-y: scroll;}
.contact p.m-auto {width:100%;text-align: center;margin-top: 24px !important;}
img {max-width: 100%;}
a {text-decoration: none;}
p {font-family: 'Noto Sans', sans-serif;}
h1, h2 {font-family: 'Abril Fatface';color:#000033;font-size: 30px;}
h2 {margin-bottom:36px}
h1 span {color:#047882;}
section {margin:100px 0}
.r-position {position:relative;}
header {background:#fff; height:112px}
.hero {background: linear-gradient(180deg, #b8f9ff 0%, rgba(217, 217, 217, 0) 100%);height:100vh;padding-top: 5%;margin-bottom: 100px;}
.hero h1 {margin:30px 0 20px 0;font-size: 30px;font-weight: 400;}
.hero h2 {font-family: 'Noto Sans', sans-serif;font-size:24px;margin-bottom: 20px;}
.lap {width: 100%;position: absolute;top: 75px;right:-100px;/* height: 0; */}
.card1, .card2, .card3, .card4 {position:absolute;}
.card4 {left: 26px;z-index:3;top: 138px;}
.card1 {left:100px;z-index:5;top: 187px;}
.card3 {z-index:4;right: -76px;top: 123px;}
.card2 {right:150px;z-index:4;top: 155px;}

.prices {display: flex;justify-content: space-between;margin:20px 0 30px;width: 300px;/* margin: 20px auto; */}
.prices strong {display: block;color:#01A1AF;font-family: 'Abril Fatface';}
.button {background-color: #01A1AF;color:#fff;width: 300px;display: block;text-align: center;padding: 12px 0;border-radius:8px;font-size: 18px;/* margin: auto; */}
.button:hover {background-color: #02afbe;}
.bg-section {background: linear-gradient(90.05deg, #EBEBEB 0.24%, rgba(255, 255, 255, 0) 99.87%);padding:60px 0;/* margin: 100px 0; */}

.slick-slide h2 {font-size: 24px;margin-bottom: 20px;}
.slick-slide {display: none;
    float: left;
    height: 100%;
    padding:20px;
    min-height: 310px;
    background: #FFFFFF;
    text-align:center;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    margin: 20px;
}
.slick-prev {background:#fff;border-radius:50px;}
.desk-hide {display: none;}
.location {position:relative;}
.location-img {position:absolute;bottom: -60px;}
@media (max-width:768px) {
  .location-img {position:relative;right:-20px;bottom:-40px}
  .hero {margin-bottom:20px}
  .container {padding:0 20px}
  section {margin:30px 0}
  p {font-size:14px;}
  .slick-slide {margin:20px 5px}
  .mob-hide {display: none;}
  .desk-hide {display: block;}
  h2 {margin:20px 0;font-size: 24px;}
  .lap {position:static}
  .bg-section {margin: 50px 0;padding: 30px 0 40px;}
  .button, prices {width:100%}
}

