*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --page-padding: 1.5rem;
    --color-text: #fff;
    --color-link: rgba(255,255,255,0.6);
    --color-link-hover: #fff;
    --color-bg-1: #2f251e;
    --color-bg-2: #43392f;
    --color-bg-3: var(--color-bg-1);
    --color-bg-4: var(--color-bg-2);
    --color-bg-5: var(--color-bg-1);
    --color-bg-6: var(--color-bg-2);
}

body {
    margin: 0px;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: area-variable, sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 150, "wght" 500, "INKT" 0;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow-x: hidden;
}

.demo-2, .demo-4, .demo-6, .demo-8, .demo-10, .demo-12, .demo-14 {
    --color-text: #000;
    --color-bg: #e1e1e1;
    --color-link: rgba(0,0,0,0.6);
    --color-link-hover: #000;
    --color-bg-1: #9d9d9d;
    --color-bg-2: #c7c7c7;
    --color-bg-3: var(--color-bg-1);
    --color-bg-4: var(--color-bg-2);
    --color-bg-5: var(--color-bg-1);
    --color-bg-6: var(--color-bg-2);
}

.demo-9 {
    --color-bg-1: #2f251e;
    --color-bg-2: #43392f;
    --color-bg-3: #18130e;
    --color-bg-4: var(--color-bg-1);
    --color-bg-5: var(--color-bg-2);
    --color-bg-6: var(--color-bg-3);
}

.demo-10 {
    --color-bg-1: #9d9d9d;
    --color-bg-2: #c7c7c7;
    --color-bg-3: #7c7c7c;
    --color-bg-4: var(--color-bg-1);
    --color-bg-5: var(--color-bg-2);
    --color-bg-6: var(--color-bg-3);
}

.js .loading::before, .js .loading::after {
    content: "";
    position: fixed;
    z-index: 5000;
}

.js .loading::before {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.js .loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0px 0px -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: var(--color-link);
    animation: 0.7s linear 0s infinite alternate forwards running loaderAnim;
}

@keyframes loaderAnim {
    100% {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
    cursor: pointer;
}

a:hover {
    color: var(--color-link-hover);
    outline: none;
}

a:focus {
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    background: transparent;
}

a:focus-visible {
    outline: red solid 2px;
    background: transparent;
}

.unbutton {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font: inherit;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

.frame {
    padding: var(--page-padding);
    position: relative;
    display: grid;
    z-index: 1000;
    width: 100%;
    gap: 1rem 2rem;
    justify-items: start;
    text-transform: uppercase;
    font-size: 12px;
}

.frame--header {
    height: 100%;
    z-index: 3000;
    background-size: auto 80%;
    background-position: 120% 50%;
    background-repeat: no-repeat;
    grid-template-areas: "title" "prev" "back" "sub" "sponsor" "demos" "heading";
}

.frame--footer {
    grid-template-areas: "credits" "author";
    align-content: end;
}

.frame #cdawrap {
    justify-self: start;
}

.frame a {
    pointer-events: auto;
}

.frame__title {
    grid-area: title;
    font-size: inherit;
    margin: 0px;
}

.frame__back {
    grid-area: back;
    justify-self: start;
}

.frame__prev {
    grid-area: prev;
    justify-self: start;
}

.frame__sub {
    grid-area: sub;
}

.frame__demos {
    grid-area: demos;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: start;
    flex-wrap: wrap;
    background: var(--color-bg);
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
}

.frame__demos > * {
    width: 2rem;
    flex: 0 0 auto;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--color-link-hover);
    display: grid;
    place-items: center;
    padding-top: 0.2em;
    background: var(--color-bg);
}

.frame__demos > span {
    filter: invert(100%);
}

.frame__demos::before {
    content: "Variations:";
}

.frame__heading {
    grid-area: heading;
    place-self: center start;
    width: min-content;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.frame__heading h2 {
    margin: 0px 0px 0px -0.065em;
    line-height: 0.9;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 12vw, 7rem);
    letter-spacing: -0.105em;
    font-variation-settings: "slnt" 0, "wdth" 400, "wght" 900, "INKT" 400;
}

i {
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 400;
    height: auto;
    width: 50px;
}

i svg {
    /* width: 70px; */
    margin-right: 5px;
}

.contact i svg {width:auto}

.frame__heading p {
    margin: 0px;
}

.frame__credits {
    grid-area: credits;
}

.frame__author {
    display: flex;
    gap: 1.5rem;
    grid-area: author;
}

.content {
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content--perspective {
    perspective-origin: 50% 0%;
    perspective: 1000px;
}

.text-large {
    font-size: clamp(1.5rem, 5vw, 3rem);
    max-width: 900px;
    margin: 0px 0px 0.85em;
    line-height: 1.2;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 100;
}

.content--sticky {
    width: 100vw;
    position: sticky;
    --offset: 0px;
    top: var(--offset);
    height: calc(100vh - var(--offset));
}

.content--grid, .content--grid .content__inner {
    display: grid;
    overflow: hidden;
    gap: 2vh 5vw;
    align-content: center;
    grid-template-areas:
        "content-img"
        "content-title"
        "content-text";
    justify-items: center;
    align-items: center;
}

.content--grid:has(.content__inner) {
    display: block;
    padding: 0px;
}

.content__inner {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 2rem 2rem;
}

.content--card {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 95vw;
    max-width: 500px;
    aspect-ratio: 0.8 / 1;
    top: 10vh;
    margin: auto auto 5vh;
    border-radius: 14px;
    gap: 3vh;
    text-align: center;
}

.content--card .content__title {
    font-size: clamp(1.5rem, 4vw, 3.5rem);
}

.content--card .content__title i {
    display: block;
}

.content--half {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
}

.content--half:nth-child(2n+1) {
    margin-left: auto;
}

.content__img {
    grid-area: content-img;
    width: 50%;
    max-width: 300px;
    height: auto;
}

.content__img--large {
    width: 60%;
    height: auto;
}

.content__img--small {
    height: 35%;
    width: auto;
}

.spacer {
    margin-top: 20vh;
}

.content__title {
    grid-area: content-title;
    font-weight: normal;
    font-size: 42px;
    margin: 0px 0 50px 0;
}

.content__text {
    margin: 0px;
    max-width: 61%;
    grid-area: content-text;
    /* text-align: center; */
    /* line-height: 1.5; */
    /* padding: 0px 1rem; */
    /* backface-visibility: hidden; */
    font-size: 20px;
}

.content__text--narrow {
}

.content--intro {
    padding-top: 25vh;
    padding-bottom: 25vh;
    z-index: 2;
}

.content--outro {
    padding-top: 50vh;
    padding-bottom: 30vh;
}

.bg-1 {
    background: rgb(27, 27, 27);
}

.bg-2 {
    background: rgb(0, 102, 255);
}

.bg-3 {
    background: rgb(0, 0, 0);
}

.bg-4 {
    background: var(--color-bg-4);
}

.bg-5 {
    background: var(--color-bg-5);
}

.bg-6 {
    background: var(--color-bg-6);
}

@media screen and (min-width: 63em) {
    body {
        --page-padding: 2rem 3rem;
    }

    .frame--header {
        height: 100vh;
        grid-template: "title back prev sub sponsor" "heading heading heading heading heading" 1fr "demos demos demos demos demos" / auto auto auto 1fr 1fr;
        align-content: space-between;
    }

    .frame__heading {
        margin-top: 0px;
    }

    .frame__heading h2 {
        white-space: nowrap;
    }

    .frame__heading p {
        margin: 0px 0px 0px auto;
    }

    .content--grid .content__title {
        /* align-self: end; */
    }

    .frame__demos {
        position: fixed;
        bottom: 2rem;
    }

    .frame--footer {
        padding-bottom: 0px;
        grid-template: "credits ." ". author" 6rem / 1fr 1fr;
    }

    .frame__author {
        align-self: center;
    }

    .frame #cdawrap {
        max-width: 300px;
        text-align: right;
    }


    
    .frame #cdawrap, .frame__author, .frame__sub {
        justify-self: end;
    }

    .content--grid, .content--grid .content__inner {
        grid-template-areas: "content-img content-title" "content-img content-text";
        grid-template-columns: 30% 1fr;
        justify-items: start;
    }

    .content__img--large {
        width: 160%;
    }

    .content__img--left {
        justify-self: end;
    }

    .content__text--left {
        text-align: left;
        align-self: start;
    }

    .content--card {
        width: 50vw;
    }

    .content--half {
        width: 50%;
    }
}


@media (max-width:1024px) {
    .phone {text-align:center;
         
           }
    .content__text {
    margin: 0px;
    max-width: 100%;
    grid-area: content-text;
    /* text-align: center; */
    /* line-height: 1.5; */
    /* padding: 0px 1rem; */
    /* backface-visibility: hidden; */
    font-size: 18px; text-align:Center
}
}