a {text-decoration: none;}

header {background-color: black;}
header a {color:#fff;}
header .button {border-radius: 50px;
    border: 2px solid #79BD7E;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    height:48px;
    background: #79BD7E;

width: 127px;}

nav {width: 677px;}

nav ul {    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
nav ul li {list-style: none;}